/* ///////////////////////////////// DRAFT SECTION /////////////////////////////////// */

.draft-page {
  max-width: auto;
  margin: 40px auto;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.draft-page h1 {
  font-size: 28px;
  color: #35509a;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

/* Search Bar */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #35509a;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.search-btn {
  background: #35509a;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.search-btn:hover {
  background: #212a42;
}

/* /////// PLAYER CARDS /////// */

.draft-player-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.draft-player-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.draft-player-card:hover {
  transform: scale(1.05);
}

/* No Results */
.no-results {
  font-size: 18px;
  color: #777;
}

/* ///////////////////////// FOOTER SECTION /////////////////////////////////////////// */

.footer-section {
  background-color: #f4f4f4;
  padding: 30px 40px;
  font-family: Arial, sans-serif;
  color: #666;
}

.footer-links-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1;
  min-width: 150px;
  max-width: 150px;
  margin: 0 10px;
}

.footer-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.footer-column a {
  display: block;
  margin-bottom: 8px;
  color: #666;
  text-decoration: none;
}

.footer-column a:hover {
  color: #000;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.social-icon {
  font-size: 40px;
  color: #160a85;
  transition: color 0.2s ease;
}

.social-icon:hover {
  color: #000000;
}

.footer-section a {
  color: #0077cc;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* //////////////////////////////////////////////////////////////////////////////////// */

