/* react-frontend/src/components/layout/Layout.css */
/* ///////////////////////// GENERAL STYLINGS /////////////////////////////////////////// */
* {
    box-sizing: border-box;
}

.homepage-container {
    font-family: Arial, sans-serif;
    color: #333;
    /*background-color: #333;*/
}

.visual-field,
.stats-dashboard,
.ads-faqs-section,
.footer-section {
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.field-placeholder,
.stats-placeholder {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    border-radius: 5px;
}

/* ///////////////////////// HEADER SECTION /////////////////////////////////////////// */

.header-section {
    background-image: url('/src/assets/header-pic.jpg');
    background-size: cover;
    background-position: center top -160px;
    height: 350px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    text-align: center;
}

.hfl-logo-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nba-logo {
    width: 100px;
    height: auto;
}

.hfl-logo {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(90deg, #a30505, #ffffff, #0000ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowing 1s infinite alternate;
}

.hfl-logo span {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}

/* adding a Glow Effect */
@keyframes glowing {
    0% {
        text-shadow: 0 0 10px rgba(255, 215, 0, 0.5), 0 0 20px rgba(255, 215, 0, 0.5);
    }

    100% {
        text-shadow: 0 0 15px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 0, 0, 0.8);
    }
}

.hfl-border {
    width: 220px;
    height: 12px;
    background: linear-gradient(90deg, #a30505, #ffffff, #0000ff);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7), 0 0 25px rgba(0, 0, 255, 0.7);
    margin-top: 20px;
}

/* ///////////////////////// FOOTER SECTION /////////////////////////////////////////// */

.footer-section {
    background-color: #f4f4f4;
    padding: 30px 40px;
    font-family: Arial, sans-serif;
    color: #666;
}

.footer-links-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    min-width: 150px;
    max-width: 150px;
    margin: 0 10px;
}

.footer-heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.footer-column a {
    display: block;
    margin-bottom: 8px;
    color: #666;
    text-decoration: none;
}

.footer-column a:hover {
    color: #000;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.social-icon {
    font-size: 40px;
    color: #160a85;
    transition: color 0.2s ease;
}

.social-icon:hover {
    color: #000000;
}

.footer-section a {
    color: #0077cc;
}

.footer-section a:hover {
    text-decoration: underline;
}